.error {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;

  font-size: 42px;
  line-height: 1.25;
  text-shadow: var(--ss-text-shadow);
}