<div class="wrapper">
  <figure id="1" class="slide">
    <img class="image" src="src.png" alt="Slide 1">
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
  <figure id="2" class="slide">
    <img class="image" src="src.png" alt="Slide 2">
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
  <figure id="3" class="slide">
    <img class="image" src="src.png" alt="Slide 3">
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
  <figure id="4" class="slide">
    <img class="image" src="src.png" alt="Slide 4">
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
</div>