<div class="wrapper">
  <figure id="1" class="slide">
    <picture>
      <source srcset="src.png">
      <img src="src.png" alt="Slide 1">
    </picture>
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
  <figure id="2" class="slide">
    <picture>
      <source srcset="src.png">
      <img src="src.png" alt="Slide 2">
    </picture>
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
  <figure id="3" class="slide">
    <picture>
      <source srcset="src.png">
      <img src="src.png" alt="Slide 3">
    </picture>
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
  <figure id="4" class="slide">
    <picture>
      <source srcset="src.png">
      <img src="src.png" alt="Slide 4">
    </picture>
    <figcaption class="slide-caption">Slide description</figcaption>
  </figure>
</div>