:host {
  position: relative;

  display: grid;
  justify-content: stretch;
  align-items: stretch;

  flex: 0 0 var(--ss-slide-width);
  aspect-ratio: 16 / 9;

  margin: 0;
  padding: 0;

  scroll-snap-align: center;
  --intersection-ratio: 1;
}

.image {
  background-color: #000;

  width: 100%;
  height: 100%;

  pointer-events: none;

  will-change: transform, filter;
  transform: scale(calc(var(--ss-slide-scale-factor) + (1 - var(--ss-slide-scale-factor)) * var(--intersection-ratio)));
  filter: grayscale(calc(1 - var(--intersection-ratio)));
}